// colors
$Text: #020910;
$Span: #1B2605;
$Gray-400: #495057;
$white : #ffff;
$Background: #F9F9F9;
$Gray-500: #343A40;
$BtnPrimary : #92BF37;
$BtnSecudary: #F24B88;
$hprimary: #779C2D;
$btngeneral: #362D99;
$Backsecundary : #DEDEDE;

//Breakpoints
$md: 768px;
$xl: 1440px;
