.tooltip {
    display: none;
    &--block {
        display: block;
        position: absolute;
        height: 40px;
        width: 100%;
        top: 25px;
        text-align: center;
    
    }

    &__span {
        background-color: red;
        border-radius: 10px;
        color: aliceblue;
        padding: 15px 30px;
        font-size: 14px;
    }
}